:root{
  --wood-color-background: rgb(139, 94, 60, .4);
  --wood-color-border: rgb(139, 94, 60);
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("../images/noodles.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
button{
  position: relative;
  appearance: none;
  border: none;
  background: none;
  color: white;
  font-size: 24px;
}
button:active img,
button img{
  position: absolute;
  display: block;
  left: 34px;
  top: -40px;
  width: 64;
  height: 64px;
}
.hidden-element{
  position: absolute;
  display: none;
  left: 34px;
  top: -40px;
  width: 64;
  height: 64px;
}
nav{
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(196, 30, 58, .4) ;
}
#content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: var(--wood-color-background);
  border: 5px solid var(--wood-color-border);
  height: 100%;
}
#content > ol,
#content > div{
  width: clamp(45ch,50%,75ch);
  background-color: rgb(224, 204, 181);
  border: 5px solid var(--wood-color-border);
  padding: 40px;
}
#content > ol{
  list-style-type: none;
}
#content > ol li{
  padding-left: 300px;
}